INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=my-secret-token
INFLUXDB_ORG=acoustic_metamaterial
INFLUXDB_BUCKET=optimization_logs

REDIS_HOST=localhost
REDIS_PORT=6379

FEM_SERVICE_URL=http://localhost:8081
OPTIMIZER_API_URL=http://localhost:8082

HDF5_BASE_PATH=./data/hdf5
